# ==============================================================================
# Rust & Cargo сборка
# ==============================================================================
/target/
**/*.rs.bk

# ==============================================================================
# DataCopter Runtime (Динамические данные, которые меняются при каждом запуске)
# ==============================================================================
/wal/
/run_state/
*.wal

# Локально переименованные релизные бинарники (отладка GitHub Actions)
datacopter-amd64-linux
datacopter-arm64-linux

# ==============================================================================
# IDE, Окружение и ОС
# ==============================================================================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
